.about-popup {
  position: fixed;
  top: 0; /* Align to the top */
  left: 0; /* Align to the left side of the screen */
  width: 50%; /* Take up half the screen's width */
  height: 100%; /* Stretch from top to bottom */
  background-color: rgb(235, 235, 235);
  opacity: 90%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px; /* Adjust padding as needed */
  z-index: 1001;
  overflow-y: auto; /* Add scrolling if the content exceeds the viewport height */
}

.close-button {
  background-color: #ae0000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  display: block; /* Ensure it's block-level for proper spacing */
  margin: 10px 0; /* Adjust margin as needed */
}

.contact-icons {
  display: flex;
  justify-content: space-between;
  font-size: 24px; /* Adjust the font size as needed */
  color: #333; /* Icon color */
}

.contact-icons a {
  text-decoration: none;
  margin: 0 10px; /* Adjust spacing between icons */
  color: #333; /* Icon color */
}

.contact-icons a:hover {
  color: #007bff; /* Icon color on hover */
}
