.about-section {
  font-family: 'Permanent Marker', cursive;
  position: fixed;
  top: 90%;
  left: 80px;
  transform: translateY(-50%) rotate(270deg);
  background-color: transparent !important;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  z-index: 1001;
  font-size: 2rem;
  transform-origin: left center;
  width: 250px;
  text-align: center;
}
.about-section a {
  display: inline; /* This will allow margins to be applied */
  margin: 0 20px; /* Adjusts spacing between links */
  color: rgb(166, 166, 166); /* Initial color */
  text-decoration: none; /* Removes underline from links */
}

.about-section a:hover {
  color: #d9306b; /* Pink color on hover */
}