.homepage-container {
    width: 100vw;
    height: 100vh;
  }
  
  .model-canvas {
    height: 100vh !important;
    width: 100%;
  }
  .canvas-container canvas {
    width: 100% !important;
    height: 100% !important;
  }

  .home-about {
    transform: translateY(-350px) translateX(180px);
    font-size: 40px;
    font-family: 'Montserrat Alternates';
  }

  .home-about2 {
    transform: translateY(-340px) translateX(180px);
    font-size: 20px;
    font-family: 'Montserrat Alternates';
  }