.homepage-container {
    width: 100vw;
    height: 100vh;
  }
  
  .model-canvas {
    height: 100vh !important;
    width: 100%;
  }
  .canvas-container canvas {
    width: 100% !important;
    height: 100% !important;
  }

  .home-about {
    transform: translateY(-400px) translateX(180px);
    font-size: 40px;
    font-family: 'Montserrat Alternates'; /* Apply the imported font */
  }