/* Specify the font using a URL from the public folder */
  
  /* Rest of your CSS styles remain the same */
  .section {
    height: 100vh;
    /* Other styling */
  }
  
  .nergcard {
    width: 56%;
    height: 56%;
    background-image: url('../public/Nerg.png'); /* Replace with the actual image path */
    background-size: cover;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    /* Center the card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0.7; /* Initial opacity */
    transition: opacity 0.3s ease; /* Add a transition for smooth opacity change */
    /* Other background styles */
  }