/* Portfolio.css */
.portfolio {
    width: 100vw;
    height: 100vh;
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .portfolio img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
  }
  
  .portfolio.zoomed {
    transform: scale(0.5); /* Adjust the scale as needed */
  }
  